/** @format */

#root {
  padding: 0;
  overflow: hidden;
}

.layout {
  width: 98vw;
  height: 98vh;
  display: grid;
  grid-template-areas:
    '. header header header .'
    '. left . main .'
    '. footer footer footer .';
  gap: 2rem;
  padding: 10px;
  grid-template-rows: 8rem auto 10rem;
  grid-template-columns: auto 18rem 5rem 33rem auto;
  overflow: hidden;
}

.mainContainer {
  grid-area: main;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  .layout {
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      'header'
      'main'
      'left'
      'footer';
    gap: 1rem;
    padding: 10px;
    grid-template-rows: 10rem 96rem auto 5rem;
    grid-template-columns: 1fr;
    padding: 2rem;
    overflow: scroll;
  }
}
